body {
    background-color: lavenderblush;
    font-family: "Comic Sans MS", serif;
}

.task12 {
    position: absolute;
    margin-left: 15%;
    transform: translateX(-50%);
}

.task45 {
    position: absolute;
    margin-left: 80%;
    transform: translateX(-50%);
}

.task2, .task5 {
    margin-top: 350px;
}

.task3 {
    position: absolute;
    margin-left: 45%;
    margin-top: 200px;
    transform: translateX(-50%);
}

input, button {
    font-family: "Comic Sans MS", serif;
    outline: none;
    border-radius: 20px;
}

button {
    width: 60px;
}

.input1, .button1 {
    background-color: #7EB8DA;
}

.input2, .button2 {
    background-color: #92DDEA;
}

.input3, .button3 {
    background-color: #FFA5D8;
}

.input4, .button4 {
    background-color: #BE9DDF;
}

.input5, .button5 {
    background-color: #9579D1;
}